@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
  --primary-color: black;
  
}

body {
  color: var(--primary-dark);
  font-family: 'Montserrat', sans-serif;
  background-color: peachpuff
}

/* .bg {
    background-image: url("birthday.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: #464646;
} */


h1 {
  text-align: center;
  margin: 2rem;
}

.container {
  width: 300px;
  margin: auto;
}

input,
label {
  display: block;
}

input {
  margin-bottom: 0.5rem;
  width: 100%;
}

#check-number {
  display: block;
  margin: auto;
  margin-top: 1rem;
  background: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
  border-width: small;
  padding: 0.5rem;
  border-radius: 0.3rem;
}



.social-link{
    text-decoration: none;
    margin: 0rem 0.5rem;
    color: var(--primary-color);
}

    .container {
    text-align: center;
    padding: 1rem  2rem ;
    max-width: 70%;
    margin: auto;
    border-radius: 2rem;
    border-width: 10px;
    border-color: black;
    background-color: #FF9933
    
}

    .note {
    text-align: center;
    padding: 1rem 2rem  ;
    max-width: 70%;
    margin: auto;
    border-radius: 2rem;
    width: 300px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: #FF9933;
    
}

#output-box {
  margin-top: 2rem
}